<!DOCTYPE html>
<html>
  <head>
    <title>Monitoring realtime data</title>
    <style>
      #chart {
        min-height: 300px;
      }

      #map {
        min-height: 300px;
      }
    </style>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Monitoring realtime data</h1>
            <select id='opt' onchange='clean();'>
                <option value='0'>Value 1</option>
                <option value='1'>Value 2</option>
                <option value='2'>Value 3</option>
            </select>
            <p>Last record: <span id='lastrecord'></span></p>
            <p><a href="{{ url_for('export_data') }}">Téléchargement des données</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><!-- chart -->
          <div id="chart"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><!-- map -->
          <div id="map"></div>
        </div>
      </div>

  <!-- JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>

  <script>
  /* *** Leaflet *** */
  var map = L.map('map').setView([0, 0], 14);
  var markers = L.layerGroup().addTo(map);

  L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri'
  }).addTo(map);

  markeroptions = {stroke: false, fillOpacity: 0.5, radius: 5};

  // var marker = L.marker([0, 0]).addTo(map);
  // var track = L.polyline([]).addTo(map);

  /* *** Chart *** */
  var chart;

  function clean() {
    // clean all markers on the map
    markers.clearLayers();

  }

  function get_data() {
    $.ajax({
        url: '/data',
        type: 'GET',
        dataType: 'json',
        success: on_data
    });
  }

  function on_data(data) {
    // function when data is received
    //console.log(data);

    // get selected value
    var opt = parseInt($('#opt').val());

    // update last record value
    dt = data.last[0];
    val = Math.round(data.last[opt + 1] * 10) / 10;
    lon = data.last[4]
    lat = data.last[5];
    $("#lastrecord")[0].innerHTML = dt + " @ (" + lon + ", " + lat + "), data" + (opt + 1) + " = " + val;

    // update chart
    chart.setData([{data: data.values[opt]}]);
    chart.setupGrid();
    chart.draw();

    // update map
    dt = data.last[0];
    val = Math.round(data.last[opt + 1] * 10) / 10;
    lon = data.last[4]
    lat = data.last[5];
    map.panTo([lat, lon]);
    //marker.setLatLng([lat, lon]);
    //marker.bindPopup("<b>" + dt + "</b><br />data = " + val);
    //marker.openPopup();
    // track.setLatLngs(data.coords);

    // ... and add circle marker with colors
    if (val < 40) {
      markeroptions.fillColor = '#00ff00';
    } else if (val > 80) {
      markeroptions.fillColor = '#ff0000';
    } else {
      markeroptions.fillColor = '#ffff00';
    }
    L.circleMarker([lat, lon], markeroptions).addTo(markers);

    // wait and read data again
    setTimeout(get_data, {{ sleepms }});
  }

  $(function() {
    var opt = parseInt($('#opt').val());

    // Chart configuration
    chartopts = {
      series: {
        label: 'data' + (opt + 1),
        color: '#ff336e'
      },
      xaxis: {
        mode: 'time',
        timezone: 'browser'
      },
      legend: {
        position: 'nw',
        labelFormatter: function(label, series) {
          return "&nbsp;&nbsp;" + label;
        }
      }
    }
    chart = $.plot("#chart", [ ], chartopts);
    get_data();
  });

    </script>
  </body>
</html>
